*{
    font-family: Arial, Helvetica, sans-serif ;
}

title{
    display: none;
}

h1{
    font-size: 92;
    color: darkslategray;
    text-align: center;
}

img.octocat {
    height: 200px;
}


.container{
    background-color: lightgray;
    width: 800px;
    height: 1000px;
    border-top: 5px solid black;
}

.row{
    display: flex;
    height: 200px;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}

#blue{
    background-color: mediumturquoise;


}

#pink{
    background-color: plum;
    justify-content: space-around;
}

#white{
    background-color: white;

}